<div id="root">
    <div class="ant-spin-nested-loading">
        <div class="">
            <div class="ant-spin ant-spin-spinning ant-spin-show-text">
                <span class="ant-spin-dot">
                    <i></i>
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
                <div class="ant-spin-text">请稍候……</div>
            </div>
        </div>
        <div class="ant-spin-container ant-spin-blur">
            <div class="ant-layout ant-layout-has-sider">
                <div class="sider ant-layout-sider" style="flex: 0 0 200px; max-width: 200px; min-width: 200px; width: 200px;">
                    <div class="ant-layout-sider-children">
                        <div>
                            <div class="logo">
                                <a href="/">
                                    <img src="./assets/web-shell/img/logo-icon.png" class="logo-icon" alt="logo图标">
                                    <img src="./assets/web-shell/img/logo-title.png" class="logo-title" alt="logo标题">
                                </a>
                            </div>
                            <div>
                                <ul class="sidebar">
                                    <li>
                                        <div class="sidebar-serach-container">
                                            <div class="sidebar-serach-border">
                                                <input class="sidebar-serach-input width-auto" type="text" placeholder="在菜单中搜索">
                                                <span>
                                                    <a class="btn invisible">
                                                        <i class="anticon anticon-close-circle-o sidebar-serach-clear-button no-display"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content ant-layout-content">
                    <div class="ant-layout">
                        <div class="header ant-layout-header">
                            <div>
                                <i class="anticon anticon-menu-fold trigger" style="left: 200px;"></i>
                                <div class="topMenu">
                                </div>
                            </div>
                        </div>
                        <div class="content-page">
                            <div>
                                <div class="pagebar-container">
                                    <div class="ant-breadcrumb">
                                    </div>
                                </div>
                                <div class="page-main"></div>
                            </div>
                        </div>
                    </div>
                    <div class="page-footer">
                        <div class="page-footer-inner">2016-2017 © Shanghai Sunlight Data Technology Co., Ltd. All rights reserved.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>