.history-popover .ant-popover-inner {
    overflow-y: auto;
    margin: 0 6px 6px 6px;
    max-height: 38.2vh;
    width: 38.2vw;
}

.history-popover .ant-row {
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
    margin-bottom: 8px;
}

.history-popover .row-hover .hover-display {
    display: none;
}

.history-popover .row-hover:hover .hover-display {
    display: block;
}
